@using BootzorComponents.Components.Accordion
@using BootzorComponents.Components.Alert
@page "/"

<PageTitle>BlazorComponents - Bootzor</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/>
        <main>
            <h1 style="font-weight:bold">Bootzor - Components library for Blazor</h1>

            <h2>What is Bootzor?</h2>

            <p class="p sz-3 wh-300">Bootzor is a library of CSS classes and Blazor components for use directly in yours developments. It is fully developed in C# and contains no external dependencies or javascript code.</p>

            <h2>How can get Bootzor?</h2>
            <p class="p sz-3 wh-300">The library is currently under development and can be found in the following <a class="a ud" href="https://github.com/hddisseny/BlazorComponents">repository on Github</a>.</p>

        </main>
    </div>
</div>

