@using Bootzor.Components.Accordion
@using Bootzor.Components.Alert
@page "/how-to"

<PageTitle>BlazorComponents - Bootzor</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/>
        <main>
            <h2>How to</h2>
        </main>
    </div>
</div>

