@using Bootzor.Components.Accordion
@using Bootzor.Components.Alert
@using Bootzor.Components.Carousel
@page "/playground"

<PageTitle>BlazorComponents - Zona de test</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/>
        <main>
            <h2>Playground</h2>
            <p>Esta zona está diseñada como playground para poder ir haciendo pruebas con los componentes antes de integrarlos en la librería</p>
            @*Zona de test*@
                <BZ_Carousel ListImages=@List ImageWidth=600/> 
            @*Fin de zona de test*@
        </main>
    </div>
</div>

@code {
    public List<string> List = new List<string>()
    {
        "https://picsum.photos/600/300",
        "https://picsum.photos/601/300",
        "https://picsum.photos/602/300", 
    };
}