html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.main-article-section {
  padding-top: 50px !important;
}
.main-article-section h2, .main-article-section h3, .main-article-section hr {
  margin: 0;
  color: #47304a;
}
.main-article-section hr {
  margin: 5px 0 10px;
  border: 1px solid #b067b9;
  background-color: #b067b9;
}
.main-article-section section {
  max-width: 1024px;
}

.appBootzor header {
  background-color: #7E4984;
  width: 100%;
  height: 45px;
  z-index: 9999;
  position: fixed;
}
.appBootzor header h1.logo {
  margin: 0;
  font-weight: 400;
  font-family: "Special Elite", cursive;
  color: #fff;
  height: 40px;
  line-height: 50px;
  display: inline-block;
}
.appBootzor header nav {
  display: inline-block;
  vertical-align: top;
}
.appBootzor header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.appBootzor header nav ul li {
  display: inline-block;
  height: 40px;
  margin: 10px 15px;
}
.appBootzor header nav ul li a {
  color: #fff;
  opacity: 0.75;
  transition: all 0.333s ease;
  font-size: 0.75rem;
}
.appBootzor header nav ul li a:hover {
  opacity: 1;
}
@media (min-width: 920px) {
  .appBootzor header {
    position: relative;
  }
  .appBootzor header .sidebar-menu-mobile {
    display: none;
  }
}
.appBootzor .appContent {
  font-size: 0;
  height: 100%;
  padding-top: 20px;
}
.appBootzor .appContent .sidebar-menu-mobile {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../assets/menu.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 9999;
}
.appBootzor .appContent sidebar {
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0px;
}
.appBootzor .appContent sidebar .sidebar-content {
  display: none;
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 40px;
  height: calc(100% - 45px);
  overflow-y: scroll;
  z-index: 10;
}
.appBootzor .appContent sidebar .sidebar-content.True {
  display: block;
}
.appBootzor .appContent main {
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}
.appBootzor .appContent main span.parameter {
  color: #5591c1;
  font-weight: 500;
  font-style: italic;
}
.appBootzor .appContent main span.parameter small {
  font-size: 0.7rem;
}
.appBootzor .appContent main span.parameter-type {
  font-size: 0.75rem;
}
.appBootzor .appContent section {
  margin-bottom: 75px;
}
@media (min-width: 920px) {
  .appBootzor .appContent {
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }
  .appBootzor .appContent sidebar {
    width: 320px;
    height: calc(100vh - 45px);
    padding: 0px;
    overflow-y: scroll;
    font-size: 0.8rem;
  }
  .appBootzor .appContent sidebar .sidebar-content {
    position: relative;
    display: block;
    top: 0;
    padding: 30px 10px 10px 10px;
  }
  .appBootzor .appContent main {
    width: calc(100% - 320px);
    height: calc(100vh - 45px);
    overflow-y: scroll;
  }
  .appBootzor .appContent .sidebar-menu-mobile {
    display: none;
  }
}

.ParametersSection {
  margin: 0 0 25px 0;
}
.ParametersSection span {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.ParametersSection p {
  font-weight: 400;
  margin: 0 0 0 10px;
}
.ParametersSection ul {
  list-style: square;
  margin: 10px 25px;
  padding: 0 0 0 25px;
}
.ParametersSection ul li {
  font-size: 0.8rem;
  margin: 5px 0;
  font-weight: 400;
}

.responsive {
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

.p.sz-1 {
  font-size: 1rem;
}
.p.sz-2 {
  font-size: 1.2rem;
}
.p.sz-3 {
  font-size: 1.3rem;
}
.p.wh-100 {
  font-weight: 100;
}
.p.wh-200 {
  font-weight: 200;
}
.p.wh-300 {
  font-weight: 300;
}
.p.wh-400 {
  font-weight: 400;
}
.p.wh-500 {
  font-weight: 500;
}
.p.wh-600 {
  font-weight: 600;
}

.a.ud {
  text-decoration: underline;
}

.d.mw-1024 {
  max-width: 1024px;
}
.d.mw-960 {
  max-width: 960px;
}
.d.mw-768 {
  max-width: 768px;
}
.d.mrtb-1 {
  margin: 1% 0;
}
.d.dfx {
  display: flex;
}
.d.dfx.cgap-10 {
  column-gap: 10px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7E4984 #f4f4f4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #7E4984;
  border-radius: 20px;
  border: 3px solid #fff;
}

code pre {
  background: #343434;
  padding: 15px 0;
  color: #e6e4c5;
  overflow: auto;
  font-family: "Avenir";
}
code pre i {
  color: #5591c1;
  font-weight: 600;
  font-style: italic;
}
code pre b {
  color: #4e8952;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/develop/csharp/BlazorComponents/BlazorComponents/wwwroot/sass/BlazorComponentsSite.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;EACG;EACA;EACA;EACA;EACA;EACA;EACA;;;AAMJ;EACI;;;AAIJ;EACI;;AACA;EACI;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;;;AAOJ;EACI,kBA9BO;EA+BP;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;;AASpB;EA/CJ;IAgDQ;;EAEA;IACI;;;AAIZ;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAKZ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AAIR;EACI;;AAIR;EACI;;AAGJ;EAxEJ;IAyEQ;IACA;IACA;;EAEA;IACI;IACA;IACA;IACA;IACA;;EAEA;IACI;IACA;IACA;IACA;;EAIR;IACI;IACA;IACA;;EAGJ;IACI;;;;AAMhB;EACI;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;;AAEJ;EACI;EACA;EACA;;AACA;EACI;EACA;EACA;;;AAKZ;EACI;EACA;EACA;;;AAOA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;;AAMJ;EACI;;;AAOJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AACA;EACI;;;AAMZ;AACA;EACI;EACA;;;AAGJ;AACA;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAKA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI%22%7D */