@using Bootzor.Components.Accordion
@using Bootzor.Components.Alert
@page "/components/alerts"

<PageTitle>BlazorComponents - Bootzor</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/>
        <BCArticleSection Title="Alerts">
            <Description>
                <p>Provide contextual feedback messages for user actions with different alert messages. 
                   The element has a maximum horizontal size of 1024px.</p>
            </Description>
            <ComponentParameters>
                <ParameterSection>
                    <Name>TypeAlert</Name>
                    <Type>string</Type>
                    <TypeDescription>primary | success | fail | warning | info</TypeDescription>
                    <Description>
                        <p>Class that is assigned to it to establish its state</p>
                    </Description>
                </ParameterSection>
                <ParameterSection>
                    <Name>Icon</Name>
                    <Type>string</Type>
                    <TypeDescription>info | success | warning</TypeDescription>
                    <Description>
                        <p>Select an icon to display before the text</p>
                    </Description>
                </ParameterSection>
            </ComponentParameters>
            <Example>
                // Default
                &#60;<b>ZorAlert</b>&#62;Alert TypeAlert : Default&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="primary"&#62;Alert TypeAlert : primary&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="success"&#62;Alert TypeAlert : success&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="fail"&#62;Alert TypeAlert : fail&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="warning"&#62;Alert TypeAlert : warning&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="info"&#62;Alert TypeAlert : info&#60;/<b>ZorAlert</b>&#62;

                // With links
                &#60;<b>ZorAlert</b>&#62;A example of alert &#60;a href="#"&#62;with link&#60;/a&#62;. Don't Click&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>TypeAlert</i>="primary"&#62;A example of alert &#60;a href="#"&#62;with link&#60;/a&#62;. Don't Click&#60;/<b>ZorAlert</b>&#62;
                ...

                // With icons
                &#60;<b>ZorAlert</b> <i>Icon</i>="info" <i>TypeAlert</i>="primary"&#62;Alert TypeAlert : primary&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>Icon</i>="success" <i>TypeAlert</i>="success"&#62;Alert TypeAlert : success&#60;/<b>ZorAlert</b>&#62;
                &#60;<b>ZorAlert</b> <i>Icon</i>="warning" <i>TypeAlert</i>="fail"&#62;Alert TypeAlert : fail&#60;/<b>ZorAlert</b>&#62; 
            </Example>
            <Result>
                <h4>Default</h4>
                <ZorAlert>Alert TypeAlert : Default</ZorAlert>
                <ZorAlert TypeAlert="primary">Alert TypeAlert : primary</ZorAlert>
                <ZorAlert TypeAlert="success">Alert TypeAlert : success</ZorAlert>
                <ZorAlert TypeAlert="fail">Alert TypeAlert : fail</ZorAlert>
                <ZorAlert TypeAlert="warning">Alert TypeAlert : warning</ZorAlert>
                <ZorAlert TypeAlert="info">Alert TypeAlert : info</ZorAlert>
                
                <h4>With links</h4>
                <ZorAlert>A example of alert <a href="#">with link</a>. Don't Click</ZorAlert>
                <ZorAlert TypeAlert="primary">A example of alert <a href="#">with link</a>. Don't Click</ZorAlert> 
                
                <h4>With icons</h4>
                <ZorAlert Icon="info" TypeAlert="primary">Alert TypeAlert : primary</ZorAlert>
                <ZorAlert Icon="success" TypeAlert="success">Alert TypeAlert : success</ZorAlert>
                <ZorAlert Icon="warning" TypeAlert="fail">Alert TypeAlert : fail</ZorAlert> 
            </Result>
        </BCArticleSection>   
    </div>
</div>

